Repository tahowallet/extension: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-config, lint-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-js
        name: "lint typescript and javascript"
        entry: /usr/bin/env bunx eslint
        files: '\.jsx?$|\.tsx?$'
        language: script
        description: "Checks JS/TS code according to the package's linter configuration"
  - repo: local
    hooks:
      - id: lint-config
        name: "lint config files"
        entry: /usr/bin/env bunx prettier -c
        files: '\.json$|\.yaml$|\.toml$|\.yml$'
        language: script
        description: "Checks config files according to the package's linter configuration"
  - repo: local
    hooks:
      - id: lint-docs
        name: "lint documentation files"
        entry: /usr/bin/env bunx prettier -c
        files: '\.md$'
        language: script
        description: "Checks documentation files according to the package's linter configuration"

Patch filenames use bun's naming convention
  patches/@ethersproject%2Fproviders@5.7.2.patch
  patches/@ledgerhq%2Fhw-app-eth@6.33.4.patch
  patches/jsan@3.1.14.patch
  patches/webext-redux@4.0.0.patch
Due: none

CI and Docker need bun instead of yarn
  .github/workflows/build.yml
  Dockerfile
Due: lint-config

ESLint/Prettier stack replaced by oxlint + oxfmt
  .eslintrc.js
  .oxfmtrc.json
  .oxlintrc.json
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  bun.lock
  bunfig.toml
  package.json
  ui/package.json
Due: lint-js, lint-config

Ignore oxfmt reformat commit in git blame
  .git-blame-ignore-revs
Due: none

Styled-jsx CSS must be scoped in tests like in production
  bunfig.toml
  setupBun.styled-jsx.ts
Due: lint-js, lint-config

Bun test runner replaces Jest
  __mocks__/@ethersproject/web.ts
  __mocks__/uuid.ts
  background/lib/tests/daylight.unit.test.ts
  background/services/analytics/tests/index.integration.test.ts
  background/services/chain/tests/index.unit.test.ts
  background/services/indexing/tests/index.integration.test.ts
  background/tests/prices.test.ts
  bun.lock
  package.json
  scripts/run-tests-isolated.sh
  setupBun.dom.ts
  setupBun.env.ts
  setupBun.ts
  setupJest.ts
  ui/__mocks__/IntersectionObserver.ts
  ui/components/NFTs/__tests__/NFTItem.test.tsx
  ui/setupBun.env.ts
Due: lint-js, lint-config

e2e: assert Swap button visibility instead of trial click
  e2e-tests/utils/assets.ts
Due: lint-js

e2e: allow gas-only fallback for estimated net fee
  e2e-tests/utils/transactions.ts
Due: lint-js

e2e: increase balance loader timeout
  e2e-tests/utils/walletPageHelper.ts
Due: lint-js

e2e: accept either onboarding completion heading
  e2e-tests/utils/onboarding.ts
Due: lint-js

e2e: fix clipboard race in activity item address assertions
  e2e-tests/utils/transactions.ts
Due: lint-js

e2e: tolerate missing price in transfer spend amount
  e2e-tests/utils/transactions.ts
Due: lint-js

e2e: tolerate missing price data in fork transaction tests
  e2e-tests/fork-based/transactions.spec.ts
Due: lint-js

e2e: increase onboarding welcome page timeout
  e2e-tests/utils/onboarding.ts
Due: lint-js

ci: post artifact link as PR comment
  .github/workflows/builds/post-build-link.js
  .github/workflows/post-build-link.yml
Due: lint-js, lint-config

deps: remove bnc-sdk
  background/package.json
  yarn.lock
Due: lint-config

Remove the Blocknative module
  background/third-party-data/blocknative/index.ts
  background/third-party-data/blocknative/types.ts
Due: lint-js

Prefer RPC gas estimation over Blocknative
  background/lib/gas.ts
  background/networks.ts
Due: lint-js

Remove remaining Blocknative references
  .env.defaults
  .env.example
  .env.prod
  .github/workflows/build.yml
  README.md
  background/README.md
Due: lint-config, lint-docs

chore: remove unnecessary useMemo for showHiddenAssets
  ui/pages/Wallet.tsx
Due: lint-js

chore: inline showHiddenAssets boolean expression
  ui/pages/Wallet.tsx
Due: lint-js

docs: fix ui readme extension output directory
  ui/README.md
Due: lint-docs

Add perf metrics collector for RPC traffic
  background/lib/perf-metrics.ts
  background/lib/tests/perf-metrics.unit.test.ts
Due: lint-js

Flush perf metrics snapshots through the analytics service
  background/lib/posthog.ts
  background/services/analytics/index.ts
  background/services/analytics/tests/index.integration.test.ts
Due: lint-js

Instrument SerialFallbackProvider with perf counters
  background/services/chain/serial-fallback-provider.ts
Due: lint-js

Coalesce concurrent identical RPC calls in SerialFallbackProvider
  background/services/chain/serial-fallback-provider.ts
  background/services/chain/tests/serial-fallback-provider.single-flight.integration.test.ts
Due: lint-js

Add per-provider circuit breaker to SerialFallbackProvider
  background/services/chain/circuit-breaker.ts
  background/services/chain/serial-fallback-provider.ts
  background/services/chain/tests/circuit-breaker.unit.test.ts
  background/services/chain/tests/serial-fallback-provider.circuit-breaker.integration.test.ts
Due: lint-js

Capture redux persist and diff cost in perf metrics
  background/lib/perf-metrics.ts
  background/lib/tests/perf-metrics.unit.test.ts
  background/services/redux/store.ts
Due: lint-js

Add Bitcoin Era network definitions
  background/constants/base-assets.ts
  background/constants/coin-types.ts
  background/constants/currencies.ts
  background/constants/networks.ts
Due: lint-js

Add network icons for Bitcoin Era networks
  ui/public/images/networks/bob-square@2x.png
  ui/public/images/networks/bob@2x.png
  ui/public/images/networks/botanix-square@2x.png
  ui/public/images/networks/botanix@2x.png
  ui/public/images/networks/citrea-square@2x.png
  ui/public/images/networks/citrea@2x.png
  ui/public/images/networks/core-square@2x.png
  ui/public/images/networks/core@2x.png
  ui/public/images/networks/mezo-square@2x.png
  ui/public/images/networks/mezo@2x.png
Due: none

Add UI integration for Bitcoin Era networks
  ui/utils/constants.ts
  ui/utils/networks.ts
Due: lint-js

Group network selector into categorized sections
  ui/components/TopMenu/SelectNetworkMenuContent.tsx
Due: lint-js

Add eth_simulateV1 support for signature-request enrichment
  background/services/chain/serial-fallback-provider.ts
  background/services/enrichment/index.ts
  background/services/enrichment/simulation.ts
  background/services/enrichment/transactions.ts
Due: lint-js

Fix perf metrics flush to include redux persist/diff counters
  background/services/analytics/index.ts
Due: lint-js

Prevent overlapping redux persist calls from causing OOM
  background/services/redux/store.ts
Due: lint-js

Normalize redux state to deduplicate assets and slim account balances
  background/redux-slices/accounts.ts
  background/redux-slices/assets.ts
  background/redux-slices/claim.ts
  background/redux-slices/migrations/index.ts
  background/redux-slices/migrations/to-36.ts
  background/redux-slices/selectors/0xSwapSelectors.ts
  background/redux-slices/selectors/accountsSelectors.ts
  background/redux-slices/selectors/uiSelectors.ts
  background/redux-slices/tests/accounts.unit.test.ts
  background/redux-slices/tests/assets.unit.test.ts
  background/redux-slices/utils/asset-utils.ts
  background/services/redux/index.ts
  ui/tests/factories.ts
Due: lint-js

Add wallet_revokePermissions RPC support
  background/redux-slices/dapp.ts
  background/services/provider-bridge/db.ts
  background/services/provider-bridge/index.ts
Due: lint-js

Fix dapp connection state shown in popover
  background/redux-slices/selectors/dappSelectors.ts
  src/window-provider.ts
  ui/hooks/dapp-hooks.ts
Due: lint-js
